In [28]:
import pandas as pd
import numpy as np

In [29]:
# packages for path locations
import os
import sys

In [30]:
# package scripts in the script module folder 
sys.path.insert(0,'../scripts/')
from data_exploration import exploration
from data_preProcessing import data_preProcessing_script

In [31]:
#importing the some libraries for the project
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from statistics import *
import warnings
warnings.filterwarnings('ignore')

In [71]:
#Reading the clean data csv sheet
pd.set_option('max_column', None)
df=pd.read_csv('../data/cleaned_telecom_data.csv')
df.head()

,MSISDN/Number,no.of xDR sessions,Total Uploads,Total Downloads,Total UL and DL,Youtube_Total_Data,Google_Total_Data,Email_Total_Data,Social_Media_Total_Data,Netflix_Total_Data,Gaming_Total_Data,Other_Total_Data,Start ms,End ms,Start,End,Avg Delay (ms),Dur. (ms),Dur. (ms).1,Activity_Duration(ms),Avg Throughput (kbps),Handset Manufacturer,Handset Type,Last Location Name,IMSI,IMEI
0,3.360100e+10,1,3.674974e+13,4.806241e+14,5.173738e+14,1.835594e+13,2.905912e+12,3.701304e+12,1.570185e+12,1.785519e+13,2.924265e+14,1.805588e+14,770.0,662.0,2019-04-04 12:01:18,2019-04-25 14:35:31,47.0,1823652.0,1.823653e+09,76411.0,67.0,Samsung,Samsung Galaxy A5 Sm-A520F,9164566995485190,2.082014e+14,3.552121e+13
1,3.360100e+10,1,5.380039e+13,1.180289e+15,1.234090e+15,3.935912e+13,4.414096e+12,9.373850e+11,1.933278e+12,3.556554e+13,6.099208e+14,5.419594e+14,235.0,606.0,2019-04-09 13:04:04,2019-04-25 08:15:48,70.0,1365104.0,1.365104e+09,3728.0,42.0,Samsung,Samsung Galaxy J5 (Sm-J530),L77566A,2.082019e+14,3.579401e+13
2,3.360100e+10,1,2.788364e+13,6.904999e+14,7.183836e+14,3.442524e+13,1.022912e+13,3.363124e+12,1.726277e+12,2.375120e+13,2.299803e+14,4.149084e+14,1.0,652.0,2019-04-09 17:42:11,2019-04-25 11:58:13,70.0,1361762.0,1.361763e+09,0.0,15.0,Samsung,Samsung Galaxy A8 (2018),D42335A,2.082003e+14,3.528151e+13
3,3.360101e+10,1,4.332422e+13,1.595068e+15,1.638393e+15,3.653476e+13,1.181176e+13,2.070983e+12,6.574930e+11,1.509259e+13,8.103879e+14,7.618372e+14,486.0,171.0,2019-04-10 00:31:25,2019-04-25 07:36:35,70.0,1321509.0,1.321510e+09,41212.0,88.0,undefined,undefined,T21824A,2.082014e+14,3.535661e+13
4,3.360101e+10,2,3.854281e+13,1.119848e+15,1.158391e+15,3.422225e+13,7.748843e+12,2.110349e+12,9.127880e+11,1.753980e+13,5.312370e+14,5.646198e+14,565.0,954.0,2019-04-12 20:10:23,2019-04-25 10:40:32,70.0,1089009.0,1.089009e+09,0.0,15.0,Samsung,Samsung Sm-G390F,D88865A,2.082014e+14,3.540701e+13

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106856 entries, 0 to 106855
Data columns (total 26 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   MSISDN/Number            106856 non-null  float64
 1   no.of xDR sessions       106856 non-null  int64
 2   Total Uploads            106856 non-null  float64
 3   Total Downloads          106856 non-null  float64
 4   Total UL and DL          106856 non-null  float64
 5   Youtube_Total_Data       106856 non-null  float64
 6   Google_Total_Data        106856 non-null  float64
 7   Email_Total_Data         106856 non-null  float64
 8   Social_Media_Total_Data  106856 non-null  float64
 9   Netflix_Total_Data       106856 non-null  float64
 10  Gaming_Total_Data        106856 non-null  float64
 11  Other_Total_Data         106856 non-null  float64
 12  Start ms                 106856 non-null  float64
 13  End ms                   106856 non-null  float64
 14  Start                    106856 non-null  object
 15  End                      106856 non-null  object
 16  Avg Delay (ms)           106856 non-null  float64
 17  Dur. (ms)                106856 non-null  float64
 18  Dur. (ms).1              106856 non-null  float64
 19  Activity_Duration(ms)    106856 non-null  float64
 20  Avg Throughput (kbps)    106856 non-null  float64
 21  Handset Manufacturer     106856 non-null  object
 22  Handset Type             106856 non-null  object
 23  Last Location Name       106856 non-null  object
 24  IMSI                     106856 non-null  float64
 25  IMEI                     106856 non-null  float64
dtypes: float64(20), int64(1), object(5)
memory usage: 21.2+ MB

### Numerical data

In [73]:
df._get_numeric_data().columns

Index(['MSISDN/Number', 'no.of xDR sessions', 'Total Uploads',
       'Total Downloads', 'Total UL and DL', 'Youtube_Total_Data',
       'Google_Total_Data', 'Email_Total_Data', 'Social_Media_Total_Data',
       'Netflix_Total_Data', 'Gaming_Total_Data', 'Other_Total_Data',
       'Start ms', 'End ms', 'Avg Delay (ms)', 'Dur. (ms)', 'Dur. (ms).1',
       'Activity_Duration(ms)', 'Avg Throughput (kbps)', 'IMSI', 'IMEI'],
      dtype='object')

### Catagorical data

In [74]:
cols = df.columns

In [75]:
numer_cols = df._get_numeric_data().columns

In [76]:
list(set(cols) - set(numer_cols))

['Handset Manufacturer', 'Handset Type', 'End', 'Last Location Name', 'Start']

In [82]:
cols = ['IMSI','Handset Manufacturer','Handset Type','IMEI','MSISDN/Number','Last Location Name']

In [83]:
try:
    for col in cols:
        df[col] = df[col].astype('category')
except:
    print("can't change to categorycal")

In [84]:
cols = df.columns

In [85]:
numer_cols = df._get_numeric_data().columns
list(set(cols) - set(numer_cols))

['Handset Manufacturer',
 'Handset Type',
 'Start',
 'End',
 'Last Location Name',
 'IMSI',
 'IMEI',
 'MSISDN/Number']

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106856 entries, 0 to 106855
Data columns (total 26 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   MSISDN/Number            106856 non-null  category
 1   no.of xDR sessions       106856 non-null  int64
 2   Total Uploads            106856 non-null  float64
 3   Total Downloads          106856 non-null  float64
 4   Total UL and DL          106856 non-null  float64
 5   Youtube_Total_Data       106856 non-null  float64
 6   Google_Total_Data        106856 non-null  float64
 7   Email_Total_Data         106856 non-null  float64
 8   Social_Media_Total_Data  106856 non-null  float64
 9   Netflix_Total_Data       106856 non-null  float64
 10  Gaming_Total_Data        106856 non-null  float64
 11  Other_Total_Data         106856 non-null  float64
 12  Start ms                 106856 non-null  float64
 13  End ms                   106856 non-null  float64
 14  Start                    106856 non-null  object
 15  End                      106856 non-null  object
 16  Avg Delay (ms)           106856 non-null  float64
 17  Dur. (ms)                106856 non-null  float64
 18  Dur. (ms).1              106856 non-null  float64
 19  Activity_Duration(ms)    106856 non-null  float64
 20  Avg Throughput (kbps)    106856 non-null  float64
 21  Handset Manufacturer     106856 non-null  category
 22  Handset Type             106856 non-null  category
 23  Last Location Name       106856 non-null  category
 24  IMSI                     106856 non-null  category
 25  IMEI                     106856 non-null  category
dtypes: category(6), float64(17), int64(1), object(2)
memory usage: 29.8+ MB